################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/libopengl/Debug
/LibGpGpu/Debug
/libdialog/Debug
/libcomobject/Debug
/libbitmap/Debug
/libaspi/Debug
/iexplorer/debug
/filtreeffet/debug
/Debug
/datastructure/Debug
/.vs/splitter/v15
/mp3/debug
/Matrix/Debug
/libWindow/Debug
/libvideo/Debug
/libutility/Debug
/libSqlServerCE/Debug
/LibRawDll/Debug
/importpic/importpic.vcxproj.user
/lib
*.user
/datastructure/Release
/libbitmap/Release
/libaspi/Release
/iexplorer/Release
/filtreeffet/Release
/LibRawDll/Release
/libopengl/Release
/LibGpGpu/Release
/libdialog/Release
/libcomobject/Release
/Release
/mp3/Release
/Matrix/Release
/libWindow/Release
/libvideo/Release
/libutility/Release
/otherlib/tiff/Release
/otherlib/libungif/libungif/Release
/otherlib/JpegLib/Release
/otherlib/jasper/Release
/importpic/Release
/importpic/debug
/libSqlServerCE/Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32_Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32_Debug
/otherlib/libjasper/jasper-1.900.1/src/msvc/libjasper___Win32_Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/libjasper___Win32_Debug
/otherlib/ziplib/Release
/otherlib/ziplib/Debug
/libSqlEngine/x64
/libSqlite/Win32
/libSqlEngine/Win32
/libSqlite/x64
/libSqlServerCE/bak
/Win32
/nsis/Prerequisites
/LibRawDll/ReleaseStd
/otherlib/jasper/ReleaseStd
/otherlib/JpegLib/ReleaseStd
/otherlib/libjasper/jasper-1.900.1/src/msvc/ReleaseStd
/otherlib/libungif/libungif/ReleaseStd
/otherlib/tiff/ReleaseStd
/otherlib/ziplib/Regards Standard P4
/ReleaseUs
/.vs/splitter/v16
/ReleaseEs
/datastructure/Win32/Debug
/filtreeffet/Win32/Debug
/iexplorer/Win32/Debug
/importpic/Win32/Debug
/libaspi/Win32/Debug
/libbitmap/Win32/Debug
/libcomobject/Win32/Debug
/libdialog/Win32/Debug
/LibGpGpu/Win32/Debug
/libopengl/Win32/Debug
/LibRawDll/Win32/Debug
/libSqlServerCE/Win32/Debug
/libutility/Win32/Debug
/libvideo/Win32/Debug
/libWindow/Win32/Debug
/Matrix/Win32/Debug
/mp3/Win32/Debug
/otherlib/jasper/Win32/Release
/otherlib/JpegLib/Win32/Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32/Debug
/otherlib/libpng/msvc/win32/Release
/otherlib/libungif/libungif/Win32/Release
/otherlib/tiff/Win32/Release
/otherlib/ziplib/Win32/Debug
/.vs/RegardsViewer/v15
/.vs/RegardsViewer/v16/ipch
/.vs/RegardsViewer/v16/Solution.VC.db
/.vs/RegardsViewer/v16/Browse.VC.db
/.vs/RegardsViewer/v16/.suo
/datastructure/Win32/Release
/datastructure/x64
/filtreeffet/Win32/Release
/filtreeffet/x64
/iexplorer/Win32/Release
/iexplorer/x64
/importpic/Win32/Release
/importpic/x64
/libaspi/Win32/Release
/libaspi/x64
/libbitmap/Win32/Release
/libbitmap/x64
/libcomobject/Win32/Release
/libcomobject/x64
/libControl/x64/Debug
/libControl/.gitignore
/LibGpGpu/Win32/Release
/LibGpGpu/x64
/libopengl/Win32/Release
/libopengl/x64
/libdialog/Win32/Release
/libdialog/x64
/LibRawDll/Win32/Release
/LibRawDll/x64
/libSqlServerCE/Win32/Release
/libSqlServerCE/x64
/libutility/Win32/Release
/libutility/x64
/libvideo/Win32/Release
/libvideo/x64
/libWindow/Win32/Release
/libWindow/x64
/Matrix/Win32/Release
/Matrix/x64
/mp3/Win32/Release
/mp3/x64
/otherlib/jasper/x64/Release
/otherlib/JpegLib/x64/Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32/Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/x64
/otherlib/libpng/msvc/x64/Release
/otherlib/libungif/libungif/x64/Release
/otherlib/tiff/x64/Release
/otherlib/ziplib/Release English
/otherlib/ziplib/Win32/Release
/otherlib/ziplib/x64
/RegardsViewer/.vs/RegardsViewer/v16
/RegardsViewer/Debug
/RegardsViewer/Release
/RegardsViewer/Win32/Debug
/RegardsViewer/Win32/Release
