################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/libopengl/Debug
/LibGpGpu/Debug
/libdialog/Debug
/libcomobject/Debug
/libbitmap/Debug
/libaspi/Debug
/iexplorer/debug
/filtreeffet/debug
/Debug
/datastructure/Debug
/.vs/splitter/v15
/mp3/debug
/Matrix/Debug
/libWindow/Debug
/libvideo/Debug
/libutility/Debug
/libSqlServerCE/Debug
/LibRawDll/Debug
/importpic/importpic.vcxproj.user
/lib
*.user
