################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/libopengl/Debug
/LibGpGpu/Debug
/libdialog/Debug
/libcomobject/Debug
/libbitmap/Debug
/libaspi/Debug
/iexplorer/debug
/filtreeffet/debug
/Debug
/datastructure/Debug
/.vs/splitter/v15
/mp3/debug
/Matrix/Debug
/libWindow/Debug
/libvideo/Debug
/libutility/Debug
/libSqlServerCE/Debug
/LibRawDll/Debug
/importpic/importpic.vcxproj.user
/lib
*.user
/datastructure/Release
/libbitmap/Release
/libaspi/Release
/iexplorer/Release
/filtreeffet/Release
/LibRawDll/Release
/libopengl/Release
/LibGpGpu/Release
/libdialog/Release
/libcomobject/Release
/Release
/mp3/Release
/Matrix/Release
/libWindow/Release
/libvideo/Release
/libutility/Release
/otherlib/tiff/Release
/otherlib/libungif/libungif/Release
/otherlib/JpegLib/Release
/otherlib/jasper/Release
/importpic/Release
/importpic/debug
/libSqlServerCE/Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32_Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/Win32_Debug
/otherlib/libjasper/jasper-1.900.1/src/msvc/libjasper___Win32_Release
/otherlib/libjasper/jasper-1.900.1/src/msvc/libjasper___Win32_Debug
/otherlib/ziplib/Release
/otherlib/ziplib/Debug
/libSqlEngine/x64
/libSqlite/Win32
/libSqlEngine/Win32
/libSqlite/x64
/libSqlServerCE/bak
/Win32
